<!--REGISTER-->
<section>
  <div id="lgx-register" class="lgx-register">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area lgx-heading-brand">
              <h2 class="lgx-heading ">
                <span class="back-heading"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                <span class="heading">Get Your Conference Ticket</span>
              </h2>
              <p class="text">
                Get two full days of sessions for one low price!
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-2">
            &nbsp;
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single active">
              <div class="single-top">
                <h4 class="price"><span>$</span>249</h4>
                <h3 class="title">Two-Day Ticket</h3>
                <p>&nbsp;</p>
                <!--<p>If purchasing before July 31st, 2019</p>-->
              </div>
              <div class="single-bottom">
                <ul class="list-unstyled list">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Full conference access</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Lunch included</li>
                </ul>
                <a class="lgx-btn" href="https://www.eventbrite.com/e/jsmobileconf-2019-tickets-59111096882#tickets"><span>Buy Ticket</span></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <div class="single-top">
                <h4 class="price"><span>$</span>199</h4>
                <h3 class="title">Group Rate</h3>
                <p>For groups of 5 or more</p>
              </div>
              <div class="single-bottom">
                <ul class="list-unstyled list">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Full conference access</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Lunch included</li>
                </ul>
                <a class="lgx-btn" href="https://www.eventbrite.com/e/jsmobileconf-2019-tickets-59111096882#tickets"><span>Buy Ticket</span></a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2"></div>
        </div>
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
  </div>
</section>
<!--REGISTER END-->

<!--WORKSHOPS-->
<section>
  <div id="lgx-register-workshops" class="lgx-register">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area lgx-heading-brand">
              <h2 class="lgx-heading ">
                <span class="back-heading"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                <span class="heading">Get Your Pre-Conference Workshop Ticket</span>
              </h2>
              <p class="text">
                Full day hands-on pre-conference workshops (Monday, Nov 11th). Located in Waltham, MA - lunch and shuttle from/to Seaport Hotel included!
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-2">
            &nbsp;
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <div class="single-top">
                <h4 class="price"><span>$</span>499</h4>
                <h3 class="title">Breathe Life into Mobile UX with Solid Architecture Lessons</h3>
                <p><a href="/workshop-mobile-ux/">View Workshop Details</a></p>
              </div>
              <div class="single-bottom">
                <ul class="list-unstyled list">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Monday, Nov 11th in Waltham</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Lunch & Shuttle Included</li>
                </ul>
                <a class="lgx-btn" href="https://www.eventbrite.com/e/jsmobileconf-2019-tickets-59111096882#tickets"><span>Buy Ticket</span></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="single">
              <div class="single-top">
                <h4 class="price"><span>$</span>299</h4>
                <h3 class="title">Alexa, how do I build a chatbot?</h3>
                <p><a href="/workshop-chat/">View Workshop Details</a></p>
                <br /><br /><br />
              </div>
              <div class="single-bottom">
                <ul class="list-unstyled list">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Monday, Nov 11th in Waltham</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Lunch, Shuttle, Echo Included</li>
                </ul>
                <a class="lgx-btn" href="https://www.eventbrite.com/e/jsmobileconf-2019-tickets-59111096882#tickets"><span>Buy Ticket</span></a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2"></div>
        </div>
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
  </div>
</section>
<!--WORKSHOPS END-->
