<!doctype html>
<html class="no-js" lang="en">

{% include head.html %}

<body class="home">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="lgx-container ">
<!-- ***  ADD YOUR SITE CONTENT HERE *** -->

<!--HEADER-->
<header>
    <div id="lgx-header" class="lgx-header">
        <div class="lgx-header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav id="menu-offscroll" class="navbar navbar-default lgx-navbar">
                            <div class="container">
                                <nav class="navbar navbar-default lgx-navbar">
                                    <div class="lgxcontainer">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target=".navbar-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <div class="lgx-logo">
                                                <a href="index-typed.html" class="lgx-scroll">
                                                    <img src="http://placehold.it/226x74" alt="Logo"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="collapse navbar-collapse">
                                            <ul class="nav navbar-nav lgx-nav">
                                                <li class="dropdown">
                                                    <a href="JavaScript:void(0);">All Page<b class="caret"></b></a>
                                                    <ul class="dropdown-menu multi-level">
                                                        <li><a href="index.html">Home (Default)</a></li>
                                                        <li><a href="index-banner.html">Home Banner</a></li>
                                                        <li><a href="index-typed.html">Home Typed</a></li>
                                                        <li><a href="index-slider.html">Home Slider</a></li>
                                                        <li><a href="index-contentslider.html">Home ContentSlider</a></li>
                                                        <li><a href="index-gradient.html">Home Gradient</a></li>
                                                        <li class="dropdown-submenu">
                                                            <a href="JavaScript:void(0);">Inner Pages <b class="caret"></b></a>
                                                            <ul class="dropdown-menu">
                                                                <li class="dropdown-submenu hidden-sm hidden-xs">
                                                                    <a href="#">Blog Pages <b class="caret"></b></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="index.html#lgx-blog" class="lgx-scroll">Home Blog </a></li>
                                                                        <li><a href="blog-list.html">Blog List</a></li>
                                                                        <li><a href="blog-single.html">Blog Single</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown-submenu hidden-sm hidden-xs">
                                                                    <a href="JavaScript:void(0);">Speakers<b class="caret"></b></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="index.html#lgx-speakers">Home Speakers</a></li>
                                                                        <li><a href="speakers-list.html">Speakers List</a></li>
                                                                        <li><a href="speaker-single.html">Speakers Single</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li><a href="sponsors-list.html">Sponsors</a></li>
                                                                <li><a href="gallery.html">Video</a></li>
                                                                <li><a href="contact.html">Contact</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a class="lgx-scroll" href="#lgx-speakers">Speaker</a></li>
                                                <li><a class="lgx-scroll" href="#lgx-schedule">Schedule</a></li>
                                                <li><a class="lgx-scroll" href="#lgx-sponsors">Sponsors</a></li>
                                                <li><a class="lgx-scroll" href="#lgx-register">Register</a></li>
                                                <li><a class="lgx-scroll" href="#lgx-blog">News</a></li>
                                                <li><a class="lgx-scroll" href="contact.html">Contact</a></li>
                                                <li><a class="lgx-scroll lgx-btn" href="#lgx-register"><span>Buy Ticket</span></a></li>
                                            </ul>
                                        </div>
                                        <!--/.nav-collapse -->
                                    </div>
                                </nav>
                            </div>
                            <!-- /.container -->
                        </nav>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER-->
    </div>
</header>
<!--HEADER END-->

<!--BANNER-->
<section>
    <div class="lgx-banner lgx-banner-typed">
        <div class="lgx-banner-style">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="banner-info">
                                <div class="lgx-countdown-area">
                                    <!-- Date Format :"Y/m/d" || For Example: 1017/10/5  -->
                                    <div id="lgx-countdown" data-date="2018/10/25"></div>
                                </div>
                                <h2 class="title"><span id="lgx-typed-string">Mobile Web Development <span>2019</span></span></h2>
                                <h3 class="date"><span>October 25-26 </span>2018, Boston</h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </div>
</section>
<!--BANNER END-->


{% include speakers.html %}

{% include schedule.html %}

{% include sponsors.html %}

<!--TRAVEL INFO-->
<section>
    <div id="lgx-travelinfo" class="lgx-travelinfo">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="lgx-heading-area">
                            <h2 class="lgx-heading">
                                <span class="back-heading"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                <span class="heading">Travel Info</span>
                            </h2>
                            <p class="text">
                                Conferences dedicated to building remarkable events.
                            </p>
                        </div>
                    </div>
                    <!--//main COL-->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single">
                            <img src="assets/img/info-icon1.png" alt="location"/>
                            <h3 class="title">Venue</h3>
                            <p class="info"><a href="http://www.aloftbostonseaportdistrict.com/?SWAQ=958P">Aloft Boston Seaport</a><br>401-403 D Street<br>Boston, MA, 02210</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single">
                            <img src="assets/img/info-icon2.png" alt="Transport"/>
                            <h3 class="title">Transport</h3>
                            <p class="info"><a href="http://www.massport.com/logan-airport/">Boston Logan International</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single">
                            <img src="assets/img/info-icon3.png" alt="Hotel & Restaurant"/>
                            <h3 class="title">Hotel</h3>
                            <p class="info"><a href="http://www.aloftbostonseaportdistrict.com/?SWAQ=958P">Aloft Boston Seaport</a><br>401-403 D Street<br>Boston, MA, 02210</p>
                        </div>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</section>
<!--TRAVEL INFO END-->

{% include register.html %}

<!--BLOG-->
<section>
    <div id="lgx-blog" class="lgx-blog">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <h2 class="lgx-heading">
                                <span class="back-heading"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                                <span class="heading">Latest Updates</span>
                            </h2>
                            <p class="text">
                                Conferences dedicated to building remarkable events.
                            </p>
                        </div>
                    </div>
                </div>
                <!--//.ROW-->

                <div class="blog-area">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="lgx-card-single">
                                <div class="card-inner">
                                    <figure>
                                        <a class="" href="blog-single.html"><img src="http://placehold.it/1167x565" alt="blog"/></a>
                                    </figure>
                                    <div class="content">
                                        <div class="cat-icon">
                                            <span>
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="text-area">
                                            <h3 class="title"><a href="blog-single.html">Internet Searches Inspire Because they Are Charitable Mahatmas</a></h3>
                                            <div class="hits-area">
                                                <span class="date"><a href="#">25 July 2016</a></span>
                                                <span class="hit-right">
                                                    <a href="#">50 Comments</a>
                                                    <a href="#">500 Views</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="lgx-card-single">
                                <div class="card-inner">
                                    <figure>
                                        <a class="" href="blog-single.html"><img src="http://placehold.it/1167x565" alt="blog"/></a>
                                    </figure>
                                    <div class="content">
                                        <div class="cat-icon">
                                            <span>
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="text-area">
                                            <h3 class="title"><a href="blog-single.html">Internet Searches Inspire Because they Are Charitable Mahatmas</a></h3>
                                            <div class="hits-area">
                                                <span class="date"><a href="#">25 July 2016</a></span>
                                                <span class="hit-right">
                                                    <a href="#">50 Comments</a>
                                                    <a href="#">500 Views</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lgx-btn-area">
                    <a class="lgx-btn lgx-btn-big" href="blog-list.html"><span>View More News</span></a>
                </div>
            </div><!-- //.CONTAINER -->

        </div><!-- //.INNER -->

    </div>
</section>
<!--BLOG END-->


<!--TESTIMONIALs-->
<section>
    <div id="lgx-testimonials"  class="lgx-testimonials">
        <div class="lgx-inner">
            <div class="container">
                <div class="lgx-content">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <h2 class="lgx-heading">
                                    <span class="back-heading"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                                    <span class="heading">Testimonials</span>
                                </h2>
                                <p class="text">
                                    Conferences dedicated to building remarkable events.
                                </p>
                            </div>
                        </div>
                    </div><!--//.ROW-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="lgx-testiowlarea">
                                <div id="lgx-owltestimonial" class="owl-carousel lgx-owltestimonial">

                                    <div class="item lgx-fadeInLeft">
                                        <figure class="lgx-client-image">
                                            <img class="lgx-zoomIn"  src="http://placehold.it/190x190" alt="testpersion1"/>
                                            <figcaption class="lgx-zoomIn-q">
                                                <i class="fa fa-quote-left"></i>
                                            </figcaption>
                                        </figure>
                                        <div class="testi-info-area">
                                            <p class="lgx-review">
                                                Quisque ac velit urna. Nunc non nisi sed ante eleifend rhoncus non at sem. Nam luctus
                                                facilisis erat, rutrum luctus sapien tincidunt eu. Vivamus rutrum finibus nisi, sit amet
                                                venenatis lorem vulputate sed. Donec porttitor dolor sit amet!
                                            </p>
                                            <h4 class="lgx-client-name">Jonathona Islam Sagar<span>CEO of LogicHunt</span></h4>
                                        </div>
                                    </div> <!--//.Item-->
                                    <div class="item lgx-fadeInLeft">
                                        <figure class="lgx-client-image">
                                            <img class="lgx-zoomIn"  src="http://placehold.it/190x190" alt="testpersion1"/>
                                            <figcaption class="lgx-zoomIn-q">
                                                <i class="fa fa-quote-left"></i>
                                            </figcaption>
                                        </figure>
                                        <div class="testi-info-area">
                                            <p class="lgx-review">
                                                Quisque ac velit urna. Nunc non nisi sed ante eleifend rhoncus non at sem. Nam luctus
                                                facilisis erat, rutrum luctus sapien tincidunt eu. Vivamus rutrum finibus nisi, sit amet
                                                venenatis lorem vulputate sed. Donec porttitor dolor sit amet!
                                            </p>
                                            <h4 class="lgx-client-name">Jonathon Roy Jewel<span>CEO of LogicHunt</span></h4>
                                        </div>
                                    </div> <!--//.Item-->
                                    <div class="item lgx-fadeInLeft">
                                        <figure class="lgx-client-image">
                                            <img class="lgx-zoomIn"  src="http://placehold.it/190x190" alt="testpersion1"/>
                                            <figcaption class="lgx-zoomIn-q">
                                                <i class="fa fa-quote-left"></i>
                                            </figcaption>
                                        </figure>
                                        <div class="testi-info-area">
                                            <p class="lgx-review">
                                                Quisque ac velit urna. Nunc non nisi sed ante eleifend rhoncus non at sem. Nam luctus
                                                facilisis erat, rutrum luctus sapien tincidunt eu. Vivamus rutrum finibus nisi, sit amet
                                                venenatis lorem vulputate sed. Donec porttitor dolor sit amet!
                                            </p>
                                            <h4 class="lgx-client-name">Devid Jonathona Roy<span>CEO of LogicHunt</span></h4>
                                        </div>
                                    </div> <!--//.Item-->
                                </div><!--l//#LGX-OWL TESTIMONIAL-->
                            </div>
                        </div> <!--//.COL 12 -->
                    </div> <!--//.ROW-->
                </div> <!--//.LGX CONTENT-->
            </div> <!--//.CONTAINER-->
        </div><!--//.LGX INNER-->
    </div><!--//.LGX SECTION -->
</section>
<!--TESTIMONIALS END-->


<!--GOOGLE MAP-->
<div class="innerpage-section">
    <div class="lgxmapcanvas map-canvas-default" id="map_canvas"> </div>
</div>
<!--GOOGLE MAP END-->


{% include footer.html %}


</div>
<!--//.LGX SITE CONTAINER-->
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->
<!-- JQUERY  -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

<!-- BOOTSTRAP JS  -->
<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>


<script src="assets/libs/jquery.smooth-scroll.js"></script>

<!-- SKILLS SCRIPT  -->
<script src="assets/libs/jquery.validate.js"></script>

<!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbKIiqWHLEdHMgvYLWc6KxL7poNhIBCTo"></script>

<!-- CUSTOM GOOGLE MAP -->
<script type="text/javascript" src="assets/libs/gmap/jquery.googlemap.js"></script>

<!-- adding magnific popup js library -->
<script type="text/javascript" src="assets/libs/maginificpopup/jquery.magnific-popup.min.js"></script>

<!-- Owl Carousel  -->
<script src="assets/libs/owlcarousel/owl.carousel.min.js"></script>

<!-- COUNTDOWN   -->
<script src="assets/libs/countdown.js"></script>

<!-- SMOTH SCROLL -->
<script src="assets/libs/jquery.smooth-scroll.min.js"></script>
<script src="assets/libs/jquery.easing.min.js"></script>

<!-- type js -->
<script src="assets/libs/typed/typed.min.js"></script>

<!-- CUSTOM SCRIPT  -->
<script src="assets/js/custom.script.js"></script>


</body>
</html>